<div class="container">
  <h1 class="mt-3 text-info text-center mb-3"> Bonjour {{name}}</h1>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="warning">Binding property et event</p>
      <div class="md-form">
        <input type="text" name="" class="form-control" value="{{name}}">
        <button class="btn btn-primary btn-sm mt-2 btn-block" (click)="changeName()">Valider</button>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="warning">Template attribute</p>
      <div class="">
        <div class="">
          <div class="md-form">
            <input type="text" name="" class="form-control" #data>
            <button (click)="recupInfo(data.value)" class="btn btn-primary btn-sm mt-2 btn-block">Valider</button>
          </div>
        </div>
        <div class="">
          <p>Contenu de la zone de saisie : {{info}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="warning">Binding bi directionnel</p>
      <div class="md-form">
        <input type="text" name="" class="form-control" [(ngModel)]="name">
      </div>
    </div>
  </div>
<!--  <h4 class="grey-text">{{debut}}</h4>-->
</div>
